
bin/hmiSCADA

bin/mini.app/Contents/Info.plist

bin/mini.app/Contents/MacOS/mini

bin/mini.app/Contents/PkgInfo

bin/mini.app/Contents/Resources/empty.lproj

build-hmiSCADA*Release*

build-hmiSCADA*Debug*

*.pro.user*

*.o

build-mini*Release*

build-mini*Debug*

hmiSCADA/plugins/build-plugin_udp*Release*

hmiSCADA/plugins/build-plugin_udp*Debug*

hmiSCADA/plugins/testmodels/build-compmodel*Release*

hmiSCADA/plugins/testmodels/build-compmodel*Debug*

*.dylib

*.exe

*.dll

*.exp

*.lib

*.obj

*.Debug

*.Release

*.manifest

*.user
