
bin/hmiSCADA

bin/mini.app/Contents/Info.plist

bin/mini.app/Contents/MacOS/mini

bin/mini.app/Contents/PkgInfo

bin/mini.app/Contents/Resources/empty.lproj

*.pro.user*

*.o

build-*Release*

build-*Debug*

hmiSCADA/plugins/build-*Release*

hmiSCADA/plugins/build-*Debug*

hmiSCADA/plugins/testmodels/build-*Release*

hmiSCADA/plugins/testmodels/build-*Debug*

*.dylib

*.exe

*.dll

*.exp

*.lib

*.obj

*.Debug

*.Release

*.manifest

*.user
